@charset "UTF-8";
@font-face {
    font-family: 'IDroid';
    src: url(fontes/idroid.otf) format('opentype');

}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #86e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', 'cursive', sans-serif;
    --fonte2: 'IDroid', sans-serif;
}

header {
    padding: 20px 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.767);
    background-image: linear-gradient(to top, #1a5c37, #3ddc84);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);

}

h1#principal {
    font-family: 'Bebas Neue', sans-serif;
    padding: 5px;
    color: white;
    font-weight: lighter;
    font-size: 2em;
}

.ppu {
    text-align: center;
}

nav{
    padding: 5px;
    background-color: var(--cor4);
    text-align: left;
    color: white;
}

a#mnav {
    color: white;
    font-weight: bold;
    padding: 0px;
    margin: 10px;
    text-decoration: none;
}

a#mnav:hover {
    background-color: var(--cor5);
    border-radius: 5px;
    text-decoration: underline;
    padding: 5px;
    transition: 0.2s;
}

a:hover {
    background-color: var(--cor5);
    color: var(--cor4);
    border-radius: 5px;
    text-decoration: underline;
    padding: 5px;
    transition: 0.2s;
}

a.hova {
    color: var(--cor4);
    text-decoration: none;
}

body {
    background-color: var(--cor1);
}

main {
    border-radius: 0px 0px 7px 7px;
    background-color: white;
    min-width: 400px;
    max-width: 800px;
    padding: 0px;
    padding-top: 10px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 1px 2px 15px  #0c0910b0;
}


h1 {
    font-family: var(--fonte2);
    color: var(--cor4);
    padding: 0px;
    margin: 10px;
}

h2 {
    font-family: var(--fonte2);
    color: var(--cor4);
    background-image: linear-gradient(to right, #c5ebd6, rgba(255, 255, 255, 0.555));
    padding: 0px;
    margin: 10px;
}

p {
    line-height: 1.5em;
    text-align: justify;
    font-weight: bold;
    text-indent: 30px;
    padding: 10px;
    margin: 0px;
}

.container {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videobgud {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contiri {
    min-width: 400px;
    max-width: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    border: 30px solid #063d1e;
    border-top: 20px solid #063d1e;
    border-bottom: 20px solid #063d1e;
}

aside {
    background-color: brown;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-indent: 0px;
}

.asidtop {
    border-radius: 7px 7px 0px 0px;
    margin: 15px 20px 0px 20px;
    padding: 10px;
    background-color: var(--cor3);
    text-align: left;
    color: white;
    font-weight: bold;
}

.asidbot {
    border-radius: 0px 0px 7px 7px;
    box-shadow:  5px 5px 5px  #0c09103a;;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    background-color: var(--cor0);
}

ul {
    list-style-type: '\2714\0020\0020';     /* Vzinho de check para listas*/
    columns: 2;
    list-style-position: inside;
    margin: 0px;
    padding: 10px;
    color: black;
}

.liul {
    color: black;
}

footer {
    background-color: var(--cor5);
    margin: 0px;
    padding: 0px;
}

.rdp {
    font: italic 1em sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: white;
    text-decoration: none;
}